</main>
<footer class="page-footer green">
  <div class="footer-copyright red">
    <div class="container green">
    <span class="white-text">Created at Code Samurai Hackathon 2019</span>
    <a class="white-text right" href="http://codesamurai.club">CodeSamurai.club</a>
    </div>
  </div>
</footer>
